.inputStyle{
    border-radius: 7px;
	box-shadow:inset 0 0 7px #D4D4D4;
	
	height: 40px;
	font-size: 0.8em;
	border: 1px solid #D4D4D4;
	width:400px ;
}
#email:focus {
	
	border: 1px solid #FFCD28;
	border-radius:7px;
	box-shadow:inset 0 0 7px #FFCD28;
 }

#password:focus {
	border: 1px solid #FFCD28;
	border-radius:7px;
	box-shadow:inset 0 0 7px #FFCD28;
 }
	 
:focus {
	outline: none; 
	}
	
	
.inputStyleSubmit{
    border-radius: 7px;
	background-color:#FF8732;
	color:white;
	height: 40px;
	font-size: 0.8em;
	border: 1px solid #FF8732;
	width:400px ;
	cursor:pointer;
}

.navbar{
	position:relative;
	min-height:50px;
	margin-bottom: 20px;
	border:1px solid transparent;
	width:100%;
	
	
}
.nav-default{
	background-color:#33cc33;
	border-color:#e7e7e7;
	top:0px;
}

.nav-fixed-top{
top:0px;
border-top-width:0px;
border-bottom-width:1px;
border-left-width:0px;
border-right-width:0px;

}



#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
margin-right:15px;
float:right!important;
margin-top:1em;
font-size:1.0em;


}

#navlist p
{
display: inline;
list-style-type: none;

float:left!important;
margin-top:0.2em;
margin-left:15px;
font-size:1.8em;
font-family:Arial;
color:white;
}

body{
	background-color:#f8f8f8;
	margin:0px;
}

#ileftframe {
    height: 99%;
    width: 20%;
}

#ileftdiv {
	float: left;
   width: 20%;	
   margin-top: 10px;
   height: 100%;
   
}

#iRightFrame {
	width: 100%;
	content:center;
	height: 100%;
}

#iRightDiv{
	float:left;
	width: 80%;
	margin-top: 10px;
	height: 100%;
}
.inputForm div{
	padding-bottom : 15px
	
}
.bodycontent{
	height: 80vh;
	float: left;
width: 97%;
padding-left:1%;
padding-right:1%;
}